<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <VSlider />
  </div>
</template>

<script>
import VSlider from '@/components/VSlider.vue'

export default {
  name: 'Home',
  components: {
    VSlider,
  },
}
</script>
