<template>
  <!-- Slider main container -->
  <div ref="sliderElement" class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</template>

<script>
import Swiper from 'swiper'

export default {
  name: 'VSlider',
  data: () => ({
    slider: null,
  }),
  mounted() {
    this.initSlider()
  },
  beforeDestroy() {
    this.destroySlider()
  },
  methods: {
    initSlider() {
      if (!this.$refs.sliderElement) {
        return
      }

      this.slider = new Swiper(this.$refs.sliderElement, {
        speed: 400,
        spaceBetween: 100,
      })
    },
    destroySlider() {
      if (!this.slider) {
        return
      }

      this.slider.destroy(true, true)
    },
  },
}
</script>

<style scoped lang="scss"></style>
